mixin link(path)
	a(href=base_path+path)
		block

mixin js(path)
	script(src=path)


mixin bool(name, val)
	input(type="hidden" name=name value=(val ? 1 : 0))
mixin val(name, val)
	input(type="hidden" name=name value=val)
