extends layout.pug

block page_scripts
	+js("/js/manage-polygon.js")
	+js("/js/poly-text-editing.js")

block content
	+val("poly_id", poly_id)
	+val("file_id", file_id)
	p
		| Image:
		img(src=("/poly-images/" + poly_id))
	p
		button#delete-polygon Delete Polygon
	table.bordered.layout-hack
		tr
			td
				p
					| Notes:
					button#update-notes Save Notes
					p
						| Internal:
						textarea(name="notes_internal")= notes.internal
					p
						| Public:
						textarea(name="notes_public")= notes.public
			td
				p
					| Text:
					pre=poly_text
				p
					| Full line:
					div.annotated_line
						=annotated.before
						span.highlight_transcription
							=annotated.mid
						=annotated.after
				p
					| File:
					pre=file_text
			td
				div#text-selector-area
					p
						="Mode:"
						br
						="| "
						each mode in ["line", "freetext", "single-word"]
							input.mode-sel(type="radio" name="mode" value=mode checked="checked")
							label= mode
							=" | "
					p
						select#line-selector
					p#word-mode
						input(type="checkbox" name="strip-punctuation")
						label No Punctuation
						table
							tr#word-selector-area
					p#freetext-mode.nodrag
						span#freetext
			td
				button#update-text Update Text
				p
					="text: "
					span#current-text
